@charset "UTF-8";   
   
body {
        background-color: gray;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    h1 {
        color: cornflowerblue;
        background-color: purple;
    }

    h2 {
        color: yellow;
    }

    p {
        text-align: justify;
    }