@charset "UTF-8";

/*
    em HTML é id     = em CSS é #
    em HTML é class  = em CSS é .
*/

body {
    background-color: rgb(161, 228, 161);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 91, 0);
}

#principal {
    text-align: center;
    background-color: rgb(0, 91, 0);
    color: white;
}

h2 {
    color: rgb(87, 127, 87);
}

h2.basico {
   color: rgb(87, 127, 87);
   font-weight: bold;
}

.intermediario {
    color: rgb(255, 217, 81);
}

.avancado {
   color: rgb(80, 15, 233);
}

.destaque {
    background-color: rgba(255, 255, 9, 0.626);
}