@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    min-height: 100vh;
    margin: 0px;
}

header{
    height: 210px;
    background-color: black;
    text-align: center;
}

h1 {
    font-variant: small-caps;
    white-space: nowrap;
    font-family: 'Passion One';
    color: white;
    font-size: 10vw;
    margin: 0px;
    padding-top: 50px;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: lighter;
    margin: 0px;
    padding-bottom: 50px;
    font-size: 0.9em;
}
.aheader{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


.aheader:hover{
    text-decoration: underline;
    color: rgb(0, 255, 64);
}

main{
    
}



section{
    font-family:'Sriracha';
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 4vw;
}

.primeira{
        padding: 20px 0px 0px 30px;
        background-color: white;
        font-size: 4vw;
}

.imagem{
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
}

section.imagem > p {
    background-color: black;
    display: inline-block;
    padding: 5px;
}

.borboletap{
    display: inline-block;
    background-color: white;
    margin: 30px;
    padding: 5px 5px 5px 5px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}